<app-spinner *ngIf="isSubmitting"></app-spinner>
<div class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="col-sm-* col-md-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-4">Register</h5>

                    <form [formGroup]="registerForm" (ngSubmit)="registerAction()">

                        <div class="form-group mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input id="name" formControlName="name" type="text" class="form-control"/>
                            <div *ngIf="registerForm.get('name').touched && registerForm.get('name').errors?.['required']">
                                <span class="text-danger small">*Name is required</span>
                            </div>
                            <div *ngIf="registerForm.get('name').touched && registerForm.get('name').errors?.['noSpaceAllowed']">
                                <span class="text-danger small">*No space is allowed for name</span>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input id="email" formControlName="email" type="email" class="form-control"/>
                            <div *ngIf="registerForm.get('email').touched && registerForm.get('email').errors?.['required']">
                                <span class="text-danger small">*Email is required</span>
                            </div>
                            <div *ngIf="registerForm.get('email').touched && registerForm.get('email').errors?.['email']">
                                <span class="text-danger small">*Email format is wrong</span>
                            </div>
                            <div *ngIf="registerForm.get('email').touched && registerForm.get('email').errors?.['emailExists']">
                                <span class="text-danger small">*Email is registered already</span>
                            </div>
                        </div>

                        <div class="password-container">

                            <div class="password-requirements" *ngIf="passwordInFocus">
                                <p [ngClass]="registerForm.get('password')?.errors?.['length-req'] ? 'not-met' : 'met'">
                                    Between 3 - 20 characters
                                </p>
                                <!-- <p [ngClass]="registerForm.get('password')?.errors?.['upperCase-letter'] ? 'not-met' : 'met'">
                                    At least one lowercase letter (a-z)
                                </p>
                                <p [ngClass]="registerForm.get('password')?.errors?.['lowerCase-letter'] ? 'not-met' : 'met'">
                                    At least one uppercase letter (A-Z)
                                </p>
                    
                                <p [ngClass]="registerForm.get('password')?.errors?.['digit'] ? 'not-met' : 'met'">
                                    At least one special character
                                </p>
                    
                                <p [ngClass]="registerForm.get('password')?.errors?.['special'] ? 'not-met' : 'met'">
                                    At least one digit (0-9)
                                </p> -->
                              </div>
    
                            <div class="form-group mb-3">
                                <label for="password" class="form-label">Password</label>
                                <div class="d-flex">
                                    <input id="password" formControlName="password" [type]="passwordHidden ? 'password' : 'text'" class="form-control"
                                    (focus)="passwordInFocus = true" (blur)="passwordInFocus = false"/>
                                    <button type="button" (click)="togglePasswordVisibility()" class="toggle-password-button"><span class="icon">
                                        <i class="fa" [ngClass]="passwordHidden ? 'fa-eye-slash' : 'fa-eye'"></i>
                                      </span>
                                    </button>
                                </div>
                                
                                <div *ngIf="registerForm.get('password').touched && registerForm.get('password').errors">
                                    <span class="text-danger small">*Password is required</span>
                                </div>
                            </div>
    
                            <div class="form-group mb-3">
                                <label for="confirm-password" class="form-label">Confirm Password</label>
                                <input id="confirm-password" formControlName="confirmPassword" [type]="passwordHidden ? 'password' : 'text'" class="form-control"/>
                                <div *ngIf="registerForm.get('password').value !== registerForm.get('confirmPassword').value">
                                    <span class="text-danger small">*Passwords do not match</span>
                                  </div>
                            </div> 
                        </div>
                       

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-block" 
                            >Register Now</button>
                            <!--[disabled]="isSubmitting || registerForm.invalid || registerForm.get('password').value !== registerForm.get('confirmPassword').value"-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>